:root {
  --body-font: "Helvetica Neue", "Arial Nova", "Helvetica", "Arial", sans-serif;
  --mono-font: "Courier New", "Courier", monospace;

  --primary: #DD406B;
  --dark: #454D47;
  --dark-1: #848A85;
  --lite-1: #D0D6D2;
  --lite: #FCFFFD;

  --fs: 13px;
  --lh: 16px;

  --fs1: 16px;
  --lh1: 32px;

  --fs2: 20px;
  --lh2: 32px;

  --fs3: 25px;
  --lh3: 32px;

  --fs4: 31px;
  --lh4: 64px;
}