@import './reset.css';
@import './config.css';

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: var(--body-font);
  line-height: 1.25;
  color: var(--dark);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--lite);
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

a[href] {
  color: var(--primary);
}